
[*]

dotnet_diagnostic.IDE1006.severity = none 

#CA1801: Parameter never used (but this is an API)
dotnet_diagnostic.CA1801.severity = none 
#CA1062: Url should be type Uri - not!
dotnet_diagnostic.CA1062.severity = none 

# CA2227: Collection properties should be read only
#dotnet_diagnostic.CA2227.severity = none

# IDE0022: Use block body for methods
#csharp_style_expression_bodied_methods = true:none

# CA1055: Uri return values should not be strings
#dotnet_diagnostic.CA1055.severity = none

# CA1056: Uri properties should not be strings
dotnet_diagnostic.CA1056.severity = none

# CA1065: Do not raise exceptions in unexpected locations
#dotnet_diagnostic.CA1065.severity = warning

#dotnet_diagnostic.CA1065.severity = warning
#dotnet_diagnostic.CA1801.severity = warning
